<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>404</title>
  <!-- favicon -->
  <link rel="icon" type="image/png" href="../static/img/favicon.png" />
  
  <!-- 영어 font: Maven Pro, Noto Sans, Amiko -->
  <link href="https://fonts.googleapis.com/css2?family=Amiko:wght@400;600;700&family=Maven+Pro:wght@400;500;600&family=Noto+Sans:wght@300;400;500&display=swap" rel="stylesheet">

  <!-- CSS -->
  <link rel="stylesheet" href="../static/css/404.css">
</head>
<body>
  <h1>404 :(</h1>
  <h2>Page Not Found</h2>
  <a href="/">GO HOME</a>
</body>
</html>