<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HELLO CALENDAR</title>

    <!-- favicon -->
    <link rel="icon" type="image/png" href="../static/img/favicon.png" />

    <!-- css: layout -->
    <link rel="stylesheet" href="../static/css/layout.css" />

    <!-- css: calendar -->
    <link rel="stylesheet" href="../static/css/calendar.css" />

    <!-- css: todolist -->
    <link rel="stylesheet" href="../static/css/todolist.css" />

    <!-- css: shortcut -->
    <link rel="stylesheet" href="../static/css/shortcut.css" />

    <!-- 한국어 font: IBM Plex Sans, 프리텐다 -->
    <!--눈누 폰트는 헤더에 안 들어감-->

    <!-- 영어 font: Maven Pro, Noto Sans, Amiko -->
    <link
      href="https://fonts.googleapis.com/css2?family=Amiko:wght@400;600;700&family=Maven+Pro:wght@400;500;600&family=Noto+Sans:wght@300;400;500&display=swap"
      rel="stylesheet"
    />

    <!-- 제이쿼리 CDN -->
    <script
      src="https://code.jquery.com/jquery-3.6.1.min.js"
      integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
      crossorigin="anonymous"
    ></script>

    <!-- Axios CDN -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <!-- header: 바로가기, 로고, 설명서, 로그인-->
    <header>
      <nav>
        <div id="shortcut">
          <!-- <div class="link">
            <div class="shortcuts" onclick="shortcuts()">
              <img src="https://www.naver.com/favicon.ico"  alt="">
              <div>NAVER</div>
            </div>
          </div> -->
          <!-- 바로가기 -->
          <% if(isLogin){ %>
          <%  %>
          
          <% }else{ %>
            <div class="shortcuts" id="">
              <img src="../static/img/add.png" alt="">
              <div>바로가기</div>
            </div>
          <% } %>

        </div>

        <!-- Logo + change username-->
          <% if(isLogin){ %>
            <h3 class="headerLogo">HELLO <%=name%>!</h3>
          <% }else{ %>
            <h3 class="headerLogo">HELLO CALENDAR</h3>
          <% } %>

        <div class="headerContent">
          <!-- <h3><a href="/manual" target="_blank">설명서</a></h3> -->
          <!-- 이걸쓸일이있을까 -->
          <% if(isLogin){ %>
          <div id="nav_user_info">
            <h3 class="userName"><%=name%></h3>
            <div class="userEmail"><%=email%></div>
          </div>
          <h3 id="logout">로그아웃</h3>
          <% }else{ %>
          <h3><a href="/login/signup">회원가입</a></h3>
          <h3 class="headerLogin"><a href="/login">로그인</a></h3>
          <% } %>
        </div>
      </nav>
    </header>

    <!--구글 로그인 성공시 보이는 구글 계정 프로필: 잘되면 프로필 정보 가져와서 보여줄 예정이었으나 일단 보류-->
    <!-- <div class="gUserProfile"></div> -->

    <main>
      <!-- 검색바 -->
      <div class="searchBar">
        <input type="text" id="search_text" placeholder="Google" autofocus />
        <button id="search_btn">Search</button>
      </div>

      <!-- 캘린더: 새 버전-->
      <div class="calendarRap">
        <div class="scheduleContent">
          <div class="dayWrap">
            <div id="nowDay" class="nowDay"></div>
            <div id="nowDate" class="nowDate"></div>
          </div>
          <div class="scheculeWrap">
            <div class="scheduleTitle">일정 등록</div>
            <div class="inputWrap">
              <input
                type="text"
                placeholder="write here"
                id="input"
                class="input"
              />
              <button type="button" id="inputBtn" class="inputBtn">
                INPUT
              </button>
              <div id="list" class="list"></div>
            </div>
          </div>
        </div>
        <div class="calendarContent">
          <div class="calendarHeader">
            <div class="calendarBtn calPrevDay"></div>
            <h2 class="dateTitle"></h2>
            <div class="calendarBtn nextDay"></div>
          </div>

          <div class="grid dateHead">
            <div class="dateHeadSun">SUN</div>
            <div>MON</div>
            <div>TUE</div>
            <div>WED</div>
            <div>THU</div>
            <div>FRI</div>
            <div class="dateHeadSat">SAT</div>
          </div>

          <div class="grid dateBoard"></div>
        </div>
      </div>
      <!-- <div class="calendarRap">
        <div class="calendarHeader">
          <div class="calendarBtn calPrevDay"></div>
          <h2 class='dateTitle'></h2>
          <div class="calendarBtn nextDay"></div>
        </div>
        
        <div class="grid dateHead">
          <div class="dateHeadSun">SUN</div>
          <div>MON</div>
          <div>TUE</div>
          <div>WED</div>
          <div>THU</div>
          <div>FRI</div>
          <div class="dateHeadSat">SAT</div>
        </div>
    
        <div class="grid dateBoard"></div>
      </div> -->
    </main>

    <!-- TodoList -->
    <div class="todoTabs">
      <div class="todoTab todoTabBusiness ">
        <a href="/todo">todo 전체보기</a>
        <table class="table">
          
          <thead>
            <tr>
              <th>공적</th>
            </tr>
          </thead>
          
        </table>
      </div>
      <div class="todoTab todoTabPrivate">
        <a href="/todo">todo 전체보기</a>
        <table class="table">
          <thead>
            <tr>
              <th>사적</th>
            </tr>
          </thead>

          
        </table>

      </div>
    </div>

    <!-- JS: calendar -->
    <script src="../static/js/calendar.js"></script>

    <!-- JS: index -->
    <script src="../static/js/index.js"></script>

    <!-- JS: shortcut -->
    <script src="../static/js/shortcut.js"></script>

    <!-- ToDo 기능 구현 내용 -->
	<script src="../static/js/todo.js"></script>	
  </body>
</html>
