<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- favicon -->
    <link rel="icon" type="image/png" href="../static/img/favicon.png" />
    <!-- css: layout -->
    <link rel="stylesheet" href="../static/css/layout.css" />
    <link rel="stylesheet" href="../static/css/login.css" />
    <!-- 영어 font: Maven Pro, Noto Sans, Amiko -->
    <link
      href="https://fonts.googleapis.com/css2?family=Amiko:wght@400;600;700&family=Maven+Pro:wght@400;500;600&family=Noto+Sans:wght@300;400;500&display=swap"
      rel="stylesheet"
    />

    <!-- 제이쿼리 CDN -->
    <script
      src="https://code.jquery.com/jquery-3.6.1.min.js"
      integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div id="loginContainer">
      <div id="loginContents">
        <div id="login">
          <div id="title">Welcome</div>
          <!-- 구글 로그인 -->

          <div id="googleLogin">
            <button type="button" id="google">
              <img
                id="googleLogo"
                src="/static/img/google.png"
                alt="google-logo"
              />
              <span>Sign in with Google</span>
            </button>
          </div>
          <div class="divide">or</div>
          <!-- 자체 로그인 -->
          <form name="form_login">
            <div id="idLogin">
              <input
                type="text"
                id="id"
                name="userid"
                placeholder="ID"
                required
              />
              <div class="warningId warning"></div>
              <input
                type="password"
                id="pw"
                name="userpw"
                placeholder="Password"
                required
              />
              <div class="warningPw warning"></div>
            </div>
          </form>
          <!-- 자동 로그인 체크박스 -->
          <div id="remeberBox">
            <label for="remember"
              ><input
                type="checkbox"
                id="remember"
                name="remember"
              />자동로그인</label
            >
          </div>
          <!-- 로그인 버튼 -->
          <button type="button" id="loginBtn" onclick="login()">Sign in</button>
          <p>아직 회원이 아니신가요? <a href="/login/signup">회원가입</a></p>
        </div>
        <div id="illustration">
          <img
            id="treesImg"
            src="/static/img/christmas.jpg"
            alt="christmas-trees"
          />
        </div>
      </div>
    </div>
    <script src="/static/js/login.js"></script>
  </body>
</html>
