<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- favicon -->
  <link rel="icon" type="image/png" href="../static/img/favicon.png" />
  <!-- css: layout -->
  <link rel="stylesheet" href="../static/css/layout.css" />

  <!-- css: calendar -->
  <link rel="stylesheet" href="../static/css/calendar.css" />

  <!-- css: todolist -->
  <link rel="stylesheet" href="../static/css/todolist.css" />

  <!-- 한국어 font: IBM Plex Sans, 프리텐다 -->
  <!--눈누 폰트는 헤더에 안 들어감-->

  <!-- 영어 font: Maven Pro, Noto Sans, Amiko -->
  <link
    href="https://fonts.googleapis.com/css2?family=Amiko:wght@400;600;700&family=Maven+Pro:wght@400;500;600&family=Noto+Sans:wght@300;400;500&display=swap"
    rel="stylesheet"
  />

  <!-- 제이쿼리 CDN -->
  <script
    src="https://code.jquery.com/jquery-3.6.1.min.js"
    integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
    crossorigin="anonymous"
    ></script>
</head>
<body>
  <h1>설명서 페이지</h1>
  <ol>
    <ul>1</ul>
    <ul>2</ul>
    <ul>3</ul>
  </ol>
</body>
</html>