@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Calendar */
.calendarRap {
  display: flex;
  font-family: "Amiko", sans-serif;
  padding: 0 2rem;
  margin-top: 1.4rem;
}

/* SUN ~ SAT */
.dateHead > div {
  opacity: 0.8;
  text-align: center;
  border-radius: 5px;
  font-weight: 700;
  width: 2.5rem;
  margin: 0 1rem;
}

/* SUN font color */
.dateHeadSun {
  color: red;
}

/* SAT font color */
.dateHeadSat {
  color: blue;
}

.grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 1px;
}

/* 날짜 */
.dateBoard div {
  font-weight: bold;
  height: 2.5rem;
  width: 2.5rem;
  margin: 1rem 1rem;
  cursor: pointer;
  text-align: center;
  font-size: 2rem;
  user-select: none;
}

/* 버튼 및 xx년 xx월 */
.calendarHeader {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 2rem;
}

/* 좌우 버튼 */
.calendarBtn {
  display: block;
  width: 15px;
  height: 15px;
  border: 3px solid rgba(0, 0, 0, 0.61);
  border-width: 3px 3px 0 0;
  cursor: pointer;
}
.dark-theme .calendarBtn {
  border: 3px solid #eeeeee;
  border-width: 3px 3px 0 0;
}

/* 지난 달 보기 */
.calPrevDay {
  transform: rotate(-135deg);
  margin-top: 5px;
}

/* 다음 달 보기 */
.nextDay {
  transform: rotate(45deg);
  margin-top: 5px;
}

/* ---- */

.dateHead {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  height: 20px;
}

.dateTitle {
  font-size: 20px;
}

/* 달력 */

.calendarContent {
  width: 50vw;
  padding: 0 20px;
}

/* 일정이 있는날 */
.event {
  border-bottom: 3px solid #444444 !important;
}
.dark-theme .event {
  border-bottom: 3px solid #eeeeee !important;
}
.in_event {
  border-bottom: 3px solid #4444447f;
}
.dark-theme .in_event {
  border-bottom: 3px solid #eeeeee7f;
}

/* 날짜 띄우기 */
.dayWrap {
  text-align: center;
  padding: 20px 0 0 0;
}

.nowDay {
  font-size: 1.3rem;
  font-weight: bold;
}
.nowDate {
  font-size: 5rem;
  font-weight: bold;
  margin: 20px 0;
}

/* 일정 input 부분 */
.scheculeWrap {
  padding: 0;
}

.scheduleTitle {
  display: flex;
  align-items: center;
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 100;
  margin: 0 0 10px 0;
}

.input {
  width: 50%;
  margin-right: 20px;
  height: auto;
  line-height: normal;
  padding: 0.8em 0.5em 0 0;
  font-family: inherit;
  background-color: transparent;
  border: 0;
  border-bottom: 1px dashed #ddaf35;
  border-radius: 0;
  outline-style: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.list > div {
  font-size: 10px;
  width: 60%;
  float: left;
  color: #ddaf35;
}

.list > .checked {
  color: #ffffff;
  text-decoration: line-through;
}

.scheduleContent {
  color: black;
  float: left;
  width: 25vw;
  padding: 30px 20px;
  border-right: 2px dotted lightgray;
}

#listcontents > div {
  display: flex;
  justify-content: space-between;
}
#listcontents {
  margin: 5px 0;
}

.active {
  color: #308dcf;
}

.item_name {
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
}
.item_detail {
  font-size: 0.8rem;
  opacity: 0.8;
}

.startDate,
.endDate {
  width: 80% !important;
}
