* {
  box-sizing: border-box;
}

/* header { */
/*캘린더 css : 현승님 버전*/
/* header {
  width: 100vw;
  height: 3rem;
  text-align: center;
}
.calendar {
  width: 80vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
.calendarContents {
  width: 100%;
  height: 90%;
}
.calendarContents th, td {
  border: 1px solid black;
}
.Sun {
  color: red;
}
.Sat {
  color: blue;
}
*/
/* } */
/* 여기서 부터 검색바 */
.searchBar {
  display: flex;
  justify-content: center;
}
#search_text {
  width: 50vw;
  height: 2.4rem;
  line-height: 2.4rem;
  border-radius: 1.2rem 0 0 1.2rem;
  padding: 0 0 0 2rem;
  background-color: lightgray;
  border: 0;
  font-size: 1.2rem;
}
#search_btn {
  width: 5rem;
  height: 2.4rem;
  border-radius: 0 1.2rem 1.2rem 0;
  border: 0;
  background-color: skyblue;
  color: white;
  cursor: pointer;
}
#search_btn:hover {
  background-color: royalblue;
  transition: 0.5s;
}
#search_btn:not(:hover) {
  transition: 0.5s;
}

/* 달력 css: 새 버전 */
/* Calendar */
.calendarRap {
  /* margin-left: 5%; */
  display: flex;
  font-family: "Amiko", sans-serif;
}

/* SUN ~ SAT */
.dateHead div {
  opacity: 0.8;
  text-align: center;
  border-radius: 5px;
}

/* SUN font color */
.dateHeadSun {
  color: red;
}

/* SAT font color */
.dateHeadSat {
  color: blue;
}

.grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 1px;
}

/* 
.grid div {
  font-size: 1rem;
} */

/* 날짜 */
.dateBoard div {
  font-weight: bold;
  height: 5rem;
  padding: 1rem 1rem;
  /* border-radius: 5px; */
  /* border: 1px solid #eee; */
  cursor: pointer;
  text-align: center;
  font-size: 2rem;
}

/* .noColor {
  background: #eee;
} */

/* 버튼 및 xx년 xx월 */
.calendarHeader {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 2rem;
}

/* 좌우 버튼 */
.calendarBtn {
  display: block;
  width: 15px;
  height: 15px;
  border: 3px solid rgba(0, 0, 0, 0.61);
  border-width: 3px 3px 0 0;
  cursor: pointer;
}

/* 지난 달 보기 */
.calPrevDay {
  transform: rotate(-135deg);
  margin-top: 5px;
}

/* 다음 달 보기 */
.nextDay {
  transform: rotate(45deg);
  margin-top: 5px;
}

/* ---- */

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

.calendarRap {
  padding: 0 1.4rem;
  margin-top: 1.4rem;
  justify-content: center;
}

.dateHead {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  height: 20px;
}

.dateTitle {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.817);
}

/* 달력 */

.calendarContent {
  width: 50vw;
}

/* 일정 등록 부분 */

/* 날짜 띄우기 */
.dayWrap {
  text-align: center;
  padding: 20px 0 0 0;
}

.nowDay {
  font-size: 20px;
  font-weight: bold;
}
.nowDate {
  font-size: 70px;
  font-weight: bold;
  margin: 20px 0;
}

/* 일정 input 부분 */
.scheculeWrap {
  padding: 0 0 0 40px;
}

.scheduleTitle {
  font-size: 20px;
  font-weight: 100;
  margin: 0 0 10px 0;
}

.input {
  width: 50%;
  margin-right: 20px;
  height: auto;
  /* background: #0b0809; */
  /* color: #ddaf35; */
  line-height: normal;
  padding: 0.8em 0.5em 0 0;
  font-family: inherit;
  border: 0;
  border-bottom: 1px dashed #ddaf35;
  border-radius: 0;
  outline-style: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.inputBtn {
  cursor: pointer;
  font-size: 10px;
  padding: 10px;
  margin: 10px 0 10px 0;
  background: rgb(70, 210, 217);
  border: none;
  color: #0b0809;
  border-radius: 10px;
}

.inputBtn:hover {
  background: #ffffff;
  color: #0b0809;
}

.list > div {
  font-size: 10px;
  width: 60%;
  float: left;
  color: #ddaf35;
}

.list > .checked {
  color: #ffffff;
  text-decoration: line-through;
}

.scheduleContent {
  background: white;
  color: black;
  float: left;
  width: 25vw;
  padding: 30px;
  /* border: 1px solid black; */
}

.active {
  color: #308dcf;
}
