body {
  margin: 0;
  /* background-color: blanchedalmond; */
  /* color: black; */
  overflow-x: hidden;
  font-family: "Noto Sans", sans-serif;
}

nav {
  display: flex;
  /* position: relative; */
  justify-content: space-between;
  margin: 0 20px;
}

.headerLogo {
  font-family: "Amiko", sans-serif;
  font-size: 40px;
  background: linear-gradient(to right top, #003efa, #00d2fc);
  color: transparent;
  -webkit-background-clip: text;
  margin-top: 50px;
}

.headerContent {
  display: flex;
}

.headerContent h3 {
  font-family: "Amiko", sans-serif;
  padding-left: 30px;
}

#nav_user_info {
  text-align: center;
}
#nav_user_info .userName {
  margin-bottom: 0;
  font-size: 1.5rem;
}
#nav_user_info .userEmail {
  font-size: 0.6rem;
  color: gray;
}
#logout {
  font-size: 1rem;
  margin-top: 1.5rem;
  cursor: pointer;
}

.searchBar {
  text-align: center;
  margin: 50px 0;
}


/*다크모드 실험*/

body {
  --text-color: #222;
  --bkg-color: #fff;
}
body.dark-theme {
  --text-color: rgba(238, 238, 238, 0.854);
  --bkg-color: #121212ce;
}

@media (prefers-color-scheme: dark) {
  /* defaults to dark theme */
  body {
    --text-color: #eee;
    --bkg-color: #121212ce;
  }
  body.light-theme {
    --text-color: #222;
    --bkg-color: #fff;
  }
}

body {
  background: var(--bkg-color);
}

h2,
h3,
a,
div {
  color: var(--text-color);
}