body {
  margin: 0;
  /* background-color: blanchedalmond; */
  /* color: black; */
  overflow: hidden;
  font-family: 'Noto Sans', sans-serif;
}

nav {
  display: flex;
  /* position: relative; */
  justify-content: space-between;
  margin: 0 20px;
}

.headerLogo {
  font-family: 'Amiko', sans-serif;
  font-size: 40px;
  background: linear-gradient(to right top, #003efa, #00d2fc);
  color: transparent;
  -webkit-background-clip: text;
  margin-top: 50px;
}

.headerContent {
  display: flex;
}

.headerContent h3 {
  font-family: 'Amiko', sans-serif;
  padding-left: 30px;
}

#nav_user_info {
  text-align: center;
}
#nav_user_info .userName {
  margin-bottom: 0;
  font-size: 1.5rem;
}
#nav_user_info .userEmail {
  font-size: 0.6rem;
  color: gray;
}
#logout {
  font-size: 1rem;
  margin-top: 1.5rem;
}

/*구글로그인 성공시 보이는 프로필 div - 위치 보려고 일단 백그라운드 색상 넣어놓았습니다*/
/*
.gUserProfile {
  background-color: wheat;

  width: 50px;
  height: 50px;
  border-radius: 50%;

  position: absolute;
  top: 8px;
  right: 23px;
}
*/

.searchBar {
  text-align: center;
  margin: 50px 0;
}

