/* 한글 기본 폰트 : 프리텐다 */

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

/* 한글 포인트용 폰트 : IBM */

@font-face {
  font-family: "IBMPlexSansKR-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Pretendard-Regular";
  font-family: "Noto Sans", sans-serif;
  background-image: url(/static/img/bg1-1.jpg);
  background-size: 100% 100%;
  backdrop-filter: blur(5px);
  background-repeat: no-repeat;
}

#loginContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#loginContents {
  min-width: 276px;
  min-height: 500px;
  width: 30vw;
  height: 60vh;
  background-color: white;
  border-radius: 20px;
  box-shadow: 10px 10px 30px rgba(136, 127, 127, 0.636);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/******* 로그인창 부분 *******/

#login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#title {
  font-size: 40px;
  margin: 0 0 30px 0;
}

/* 자체 로그인 */

#idLogin {
  display: flex;
  flex-direction: column;
}

#idLogin input {
  border: none;
  border-bottom: 2px solid black;
  width: 180px;
  height: 35px;
  padding-left: 20px;
  margin-top: 20px;
}

/* 자동로그인 체크박스 */

#remeberBox {
  margin-right: 100px;
  margin-top: 20px;
}

/* 로그인 버튼 */

#loginBtn {
  margin: 20px 0 10px 0;
  background-color: #00d2fc;
  border: 2px solid #00d2fc;
  border-radius: 20px;
  width: 200px;
  height: 40px;
  cursor: pointer;
}

#loginBtn:hover {
  background-color: #79dcefc1;
}

.warning {
  color: red;
  font-size: 12px;
  width: 200px;
  display: block;
}

#login_footer {
  display: flex;
  margin-top: 1rem;
  text-align: center;
}
#login_footer .signupBtn {
  width: 6rem;
  height: 2rem;
  line-height: 2rem;
  border-radius: 1rem;
  border: 0;
  background-color: #00d2fc;
  margin: 5px;
}
#login_footer .resetPw {
  height: 2rem;
  width: 8rem;
  line-height: 2rem;
  border-radius: 1rem;
  background-color: #00d2fc;
  margin: 5px;
}
#login_footer a {
  color: black;
  text-decoration: none;
}

.goHome {
  margin-top: 10px;
}
