/* 로그인 화면 */

/* #loginContents {
    background-color: white;
    border-radius: 20px;
    box-shadow: 10px 10px 30px #045c6d;
    display: flex;
    flex-direction: row;
    align-items: center;
  } */

/* 회원가입 */
@media (max-width: 900px) {
  div.warning {
    width: 100%;
  }
}

@media (max-width: 245px) {
  #idSignup {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .withBtn {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #idSignup input {
    border: 2px solid black;
    border-radius: 20px;
    width: 180px;
    height: 35px;
    padding-left: 20px;
    margin-top: 20px;
  }
}

/* 메인 화면 */
@media (max-width: 900px) {
  .headerLogo {
    font-size: 35px;
  }
  .calendarRap {
    display: flex;
    flex-direction: column-reverse;
    font-family: "Amiko", sans-serif;
    padding: 0 1.4rem;
    margin-top: 1.4rem;
    /* width: 31.5rem; */
  }
  .calendarContent {
    width: 90vw;
  }
  .scheduleContent {
    display: flex;
    justify-content: space-around;
    width: 90vw;
    padding: 20px;
    margin-top: 20px;
    border: none;
  }
  .dayWrap {
    width: 40%;
    height: 25%;
    background-color: #00d2fc75;
    border-radius: 10px;
    margin: 0 50px;
  }
  .scheculeWrap {
    width: 50vw;
    border-left: 2px dotted lightgray;
    padding: 0 20px;
  }

  .openTabBtn {
    position: absolute;
    font-size: 16px;
    writing-mode: vertical-rl;
  }
}

@media (max-width: 550px) {
  .headerLogo {
    font-size: 30px;
  }
  .dateBoard div {
    margin: 0.7rem 0.7rem;
  }
  .dateHead > div {
    margin: 0 0.7rem;
  }

  .scheduleContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90vw;
    padding: 30px;
    border: none;
  }
  .dayWrap {
    width: 50%;
    height: 50%;
    background-color: #00d2fc75;
    border-radius: 50%;
    text-align: center;
  }
  .scheculeWrap {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    width: 70vw;
    border: none;
  }
}
