/* 한글 기본 폰트 : 프리텐다 */

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

/* 한글 포인트용 폰트 : IBM */

@font-face {
  font-family: "IBMPlexSansKR-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Pretendard-Regular";
  background-image: url(/static//img/bg.jpg);
}

#signupContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  margin-left: 20%;
}

#signupContents {
  min-width: 276px;
  min-height: 560px;
  width: 30vw;
  height: 80vh;
  background-color: white;
  border-radius: 20px;
  box-shadow: 10px 10px 30px #045c6d;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#signup {
  margin-left: 30px;
}

#titleSignup {
  margin-bottom: 10px;
  font-size: 40px;
  font-family: "IBMPlexSansKR-Regular";
  font-weight: 600;
}

#idSignup {
  display: flex;
  flex-direction: column;
  justify-content: first baseline;
}

#idSignup input {
  border: none;
  border-bottom: 2px solid black;

  width: 55%;
  height: 35px;
  padding-left: 20px;
  margin-top: 20px;
}

.idBtn,
.emailBtn {
  background: none;
  border: none;
  cursor: pointer;
}

.noshow {
  display: none;
}

.show {
  display: block;
}
