/* 메모가 자유자재로 움직일 수 있도록 position을 'absolute'로 설정 */

/* .todoTabs {
  top: 30vh;
} */
.todoTabs {
  position: absolute;
  top: 25vh;
  width: 10px;
  height: auto;
}
/* .todoTab { */
/* width: 60vw; */
/* height: 14vw; */

.todoTab {
  position: absolute;
  margin: 1rem 0 1rem 0;
  top: 3rem;
  left: 70vw;
  /* background-color: yellow; */
}

.noshow {
  display: none;
}

.todoTab:hover {
  cursor: pointer;
  box-shadow: 0 0 10px 0 darkgray;
}

.openTabBtn {
  width: 50px;
  position: absolute;
  left: 85vw;
  font-size: 16px;
  writing-mode: vertical-rl;
  cursor: pointer;
  padding: 10px;
  background-color: skyblue;
  border: none;
  color: #ffffff;
  border-radius: 10px;
}

.openTabBtn:hover {
  background-color: royalblue;
  color: #ffffff;
}

/* 메모의 크기, 색상 설정 */
.todoTabBusiness {
  /* position: absolute; */
  width: 400px;
  height: 400px;
  text-align: center;
  /* background-color: lightblue; */
  background-color: rgba(175, 218, 232, 0.9);
  overflow-y: scroll;
}

.closeTabBtn {
  float: right;
  background-color: lightblue;
  border: 0;
  padding: 10px;
}

.todolink {
  position: relative;
  top: 330px;
}

/* img.businessImg {
  width: 50px;
  height: 50px;
} */
