/* 메모가 자유자재로 움직일 수 있도록 position을 'absolute'로 설정 */

/* .todoTabs {
  top: 30vh;
} */
.todoTabs {
  position: absolute;
  top: 25vh;
  width: 10px;
  height: auto;
}
/* .todoTab { */
/* width: 60vw; */
/* height: 14vw; */

.todoTab {
  position: absolute;
  /* margin: 1rem 0 1rem 0; */
  padding: 1rem;
  top: 3rem;
  left: 70vw;
  /* background-color: yellow; */
}

.noshow {
  display: none;
}
.table {
  width: 80%;
  margin-bottom: 50px;
}
.todoTab tr {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.todoTab:hover {
  cursor: pointer;
  box-shadow: 0 0 10px 0 darkgray;
}

.openTabBtn {
  width: 50px;
  position: absolute;

  left: 90vw;

  font-size: 16px;
  writing-mode: vertical-rl;
  cursor: pointer;
  padding: 10px;
  background-color: skyblue;
  border: none;
  color: #ffffff;
  border-radius: 10px;
}

.openTabBtn:hover {
  background-color: royalblue;
  color: #ffffff;
}

/* 메모의 크기, 색상 설정 */
.todoTabBusiness {
  /* position: absolute; */
  width: 400px;
  height: 400px;
  text-align: center;
  /* background-color: lightblue; */
  background-color: rgba(175, 218, 232, 0.9);
  overflow-y: scroll;
}

.closeTabBtn {
  float: right;
  background-color: lightblue;
  border: 0;
  padding: 10px;
  font-size: 16px;
  color: black;
}

.todolink {
  position: relative;
  top: 330px;
}

/* img.businessImg {
  width: 50px;
  height: 50px;
} */

#todoInput {
  width: 90%;
  z-index: 10;
  height: 2rem;
  line-height: 2rem;
  color: black;
  background-color: inherit;
  position: sticky;
  bottom: 1rem;
  left: 0;
  border-radius: 0.5rem;
  border: 2px solid #aaaaaaaa;
  padding-left: 1rem;

  position: relative;
  top: 20px;
}

tr > th {
  font-size: 1.5rem;
  margin: 10px;
  text-align: center;
}

tr {
  position: relative;
  left: 30px;
}

.btn {
  cursor: pointer;
}
